*{
   margin:0;
   padding: 0;
   border:0;
   font-family: 'Lato',sans-serif;
}

.header{
   background-color: rgb(181, 226, 249);
   margin-top: 20px;
   margin-left: 80px;
   margin-right: 80px;
   border: 3px solid rgb(81, 105, 225);
   text-align: center;
   padding:20px;
}

.sidebar{
   background-color: rgb(181, 226, 249);
   margin-top: 20px;
   margin-left: 80px;
   margin-right: 80px;
   border: 3px solid rgb(81, 105, 225);
   float:right;
}

.main{
   background-color: rgb(181, 226, 249);
   margin-top: 20px;
   margin-left: 80px;
   margin-right: 200px;
   border: 3px dotted rgb(81, 105, 225);
}

.footer{
   background-color: rgb(181, 226, 249);
   margin-top: 20px;
   margin-left: 80px;
   margin-right: 80px;
   border: 3px solid rgb(81, 105, 225);
}

ul{
   list-style-type: none;
}

h2{
   text-align: center;
}