*{
    margin:0px;
    padding:0px;
    border: 0px;
    font-family: "Montserrat", sans-serif;
    
}

header { 
    border:3px solid black;
    margin: 10px;
    padding: 50px;
    background-color:rgb(255, 102, 179);
 }

 main {
    background-color:rgb(255, 198, 233);
    border:3px solid black;
    margin: 10px;
    padding: 50px;

    
}
 
 footer {
   border:3px solid black;
    margin: 10px;
    padding: 50px;
    background-color:rgb(255, 102, 179);
 }

 .flex-container {
    display:flex;
 }

 .flex-item {
    text-align:center;
    font-size: 1.1em;
    padding: 1.5em;
    color: white;
 }

    .color1 {background-color: #675BA7;}
    .color2 {background-color: #9BC850;}
    .color3 {background-color: #A62E5C;}
    .color4 {background-color: #a64a2e;}